@{
    ViewData["Title"] = "Помощь";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ol>
        <li>В поле для ввода «Выражение» ввести функцию, придерживаясь следующих обозначений: плюс - «+», минус - «-», умножения - "*", деление - "/", степень - «^», квадратный корень - sqrt ( ) или √ (), синус - sin (), косинус - cos (), тангенс - tg () котангенс - ctg () гиперболический синус - sh () гиперб. косинус - ch () гиперб. тангенс - th () логарифм с произвольным основанием - (основание) log (подлогарифмическое выражение), натуральный логарифм - ln (), экспоненциальная функция - exp (), арксинус - arcsin (), арккосинус - arccos () арктангенс - arctg ( ), модуль - abs (), число π (≈3,1415926) - pi, число Эйлера (е≈2,71828) - e. Все дробно-рациональные выражения нужно представить как деление выражения в числителе на выражение в знаменателе. Количество открытых скобок должно совпадать с количеством закрывающих.</li>
        <li>Выбрать пункт Выражение в радианах, если в выражении есть радианы.</li>
        <li>Нажать кнопку Вычислить.</li>
    </ol>
</p>
