@model Calculation
@{
    ViewData["Title"] = "Результат";
}
<div class="text-left">
    <h1>Результат вычислений</h1>
    <h4>Выражение:</h4>
    @Html.TextAreaFor(m => m.Expression, new { @disabled = "disabled" })<br />
    <h4>Результат:</h4>
    @Html.EditorFor(m => m.Result)
</div>
<br />
<div class="text-left">
    @using (Html.BeginForm("ShowHistory", "Home", FormMethod.Get))
    {
        <button type="submit">Посмотреть историю вычислений</button>
    }
</div>
